<div class="tag">
	<%= form_for(@submission, html: { class: "form" }) do |f| %>
		<div class="field" id="select_for_show">
			<%=f.collection_select :status_id, Status.order(:name), :id, :name, {}, {onchange:"this.form.submit();", class:"tag__select"} %>
		</div>
	<%end%>	
</div>
