<%status = @submission.status.name%>
<%if @submission.status.name == "Open"%>
    <%status = "openTag"%>
<%elsif @submission.status.name == "Completed"%>
    <%status = "closedTag"%>
<%else%>
    <%status = "rejectedTag"%>
<%end%>
<div class="index__tag index__statusTag <%=status%>" data-info = "<%= @submission.status.name%>">
    <a href="#">
        <%= @submission.status.name%>
    </a>
</div>