<% status = SubmissionDecorator.new(@submission).set_submission_status %>
<div class="index__tag index__statusTag <%=status%>" data-info = "<%= @submission.status.name%>">
    <a href="#">
        <%= @submission.status.name%>
    </a>
</div>