@import "global/variables";

.vote {
	padding-left: 1rem;
	text-align: center;
	text-decoration: none;

	a {
		font-size: 4rem;
		color: $gray-dark;
		height: 2.4rem;
		text-decoration: none;
	} 
} 

