@import "global/variables";

.button {
    background: $primary;
    color: $white;
    border-radius: 3rem;
    height: 5rem;
    border: 0;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 3rem;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: background .1s;   
     &:hover {
        background: $primary-dark; 
    }
}
