@import "global/variables";
.selector {
    border-radius: .4rem;
    padding: 2rem;
    font-size: 1.5rem;
    border: .1rem solid $gray15;
    outline: none;
    text-transform: uppercase;
}
.field {
    width:100%;
    select {
        height: 5.9rem;
		font-size: 1.5rem;
		width: 100%;
		margin-bottom: 1rem;
    }
}
