@import "global/variables";

.index {
    max-width: 100rem;
    margin: 0 auto;
    border-radius: 1rem;

    &__submission {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $gray5;
        padding: .5rem 0;
        border-top: .1rem $gray-dark;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-style: solid;
    }

    &__vote {
        padding-left: 1rem;
        text-align: center;
        color:

        a {
            font-size: 4rem;
            color: $gray-dark;
            height: 2.4rem;
            text-decoration: none;
        } 

    }

    &__submission-vote-group {
       display: flex;
       align-items: center;
    }

    &__content {
        padding-left: 2rem;

        h2 {
            padding: 0rem;
        }

        a {
            text-decoration: none;
            color: $gray-dark;
        }
    }

    &__tag {
        font-size: 1.3rem;
        color: $white;
        margin: 0 2rem;
        padding: .5rem 1rem;
        border: .2rem $pink;
        border-radius: .3rem;
        background-color: $pink;
        
        a {
            text-decoration: none;
            color: $white;
        }
    }

    p {
        padding-right: .3rem;
        font-size: 1.5rem;
    }

    .upvote {
        color: $secondary;
        font-weight: 900;
    } 

    .unvote {
        color: $primary-dark;
        font-weight: 900;
    }

}