// Fonts
$museo: "Museo Sans Rounded";

// Colors
$primary: #51bb7b;
$primary-dark: #419564;
$secondary: #50c6db;
$highlight: #F6E299;
$error: #ef4e65;
$white: #fff;
$gray5: #F7F6F6;
$gray15: #E7E7E7;
$gray-light: #cccccc;
$gray-mid: #999999;
$gray-dark: #262727;
$gray-dark50: #434344;
$pink: #e0368c;
$yellow: #f0ce15;
$yellow-light: #F5E19D;
$yellow-dark: #9e8725;
$orange: #f47820;
// Widths
$max-width: 100rem;
