// Fonts
$museo: "Museo Sans Rounded";

// Colors
$primary: #51bb7b;
$primary-dark: #419564;
$secondary: #50c6db;
$highlight: #F6E299;
$error: #ef4e65;
$white: #fff;
$gray5: #F7F6F6;
$gray15: #E7E7E7;
$gray-dark: #262727;

// Widths
$max-width: 100rem;
