@import "global/variables";
.tag {
    select {
        font-size: inherit;
        padding: 0;
        font-size: 1.5rem;
        border: 0.1rem solid #E7E7E7;
        outline: none;
        width: 100%;
    }

}
.field {
    text-transform: lowercase;
    text-transform: capitalize;
}