@import "global/variables";
#select_for_show {	
	select{
		font-size: 1.17rem !important;
        margin-bottom: 0 !important;
        border: 0.1rem solid #E7E7E7 !important;
        outline: none !important;
        width: 100% !important;
		height: auto !important;
	}		
}
.field {
    text-transform: lowercase;
    text-transform: capitalize;
}
