// Place all the styles related to the colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index__tag.color {
    &-blue {
        background-color: #50c6db;
    }
    
    &-blue-dark {
        background-color: #01516e;
    }

    &-blue-dark50 {
        background-color: #338199;
    }

    &-blue75 {
        background-color: #b0e0ea;
    }

    &-blue25 {
        background-color: #d6eef2;
    }

    &-gray {
        background-color: #5d5e5e;
    }

    &-gray-dark {
        background-color: #262727;;
    }

    &-gray-dark50 {
        background-color: #434344;
    }

    &-gray-75 {
        background-color: #9f9c9c;
    }

    &-gray25 {
        background-color: #c7c4c4;
    }

    &-gray15 {
        background-color: #e7e7e7;
    }

    &-gray5 {
        background-color: #f7f6f6;
    }

    &-green {
        background-color: #51bb7b;
    }
    
    &-green-dark {
        background-color: #267048;
    }

    &-green-dark50 {
        background-color: #419564;
    }

    &-green75 {
        background-color: #add9b8;
    }

    &-green25 {
        background-color: #d4ead9;
    }

    &-yellow {
        background-color: #f0ce15;
    }

    &-yellow-dark {
        background-color: #947c00;
    }

    &-yellow-dark50 {
        background-color: #baa128;
    }

    &-yellow75 {
        background-color: #f6e299;
    }

    &-yellow25 {
        background-color: #f9edc9;
    }

    &-orange {
        background-color: #f47820;
    }

    &-orange-dark {
        background-color: #8e4402;
    }

    &-orange-dark50 {
        background-color: #bb5f23;;
    }

    &-orange75 {
        background-color: #fab889;
    }

    &-orange25 {
        background-color: #fdd9be;
    }

    &-red {
        background-color: #ef4e65;
    }

    &-red-dark {
        background-color: #8c2738;
    }

    &-red-dark50 {
        background-color: #ba3e51;
    }

    &-red75 {
        background-color: #f18085;
    }

    &-red25 {
        background-color: #fad1cd;
    }

    &-pink {
        background-color: #e0368c;
    }

    &-pink-dark {
        background-color: #851252;
    }

    &-pink-dark50 {
        background-color: #af2a6f;
    }

    &-pink75 {
        background-color: #eba0c0;
    }

    &-pink25 {
        background-color: #f3cddd;
    }

    &-purple {
        background-color: #8351a0;
    }

    &-purple-dark {
        background-color: #4e2760;
    }

    &-purple-dark50 {
        background-color: #693f7e;
    }

    &-purple75 {
        background-color: #b69cc8;
    }

    &-purple25 {
        background-color: #b69cc8;
    }
}



