@import "global/variables";

.profile{
	max-width: 100rem;
    margin: 0 auto;
	border-radius: 1rem;
	display: flex;

	&__image{
		min-width: 30rem;
		padding: 0.5rem;
		text-align: center;
	}

	&__info{
		display: inline;
		padding: 0.5rem;
		min-width: 70rem;
	}
}
